$primary: rgb(49, 225, 231);
$body-bg: rgb(188, 192, 188);
@import "node_modules/bootstrap/scss/bootstrap";
$color: rgb(255, 255, 255);

.my-flix {
  color: $color;
}
body{
  background-color: rgb(241, 234, 171);
}
.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h3 {
  font-style: normal;
  font-weight: 500;
}
.updateAccount {
  justify-content: center;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.rem{
  text-align: center;
}
.theme{
  background-color: rgb(241, 234, 171);
}